*._*
*~
*.DS_Store
.ftpquota
.htaccess
.htaccess.montool.1389286133.bak
.htaccess.montool.1389286550.bak
/_private
/_vti_bin
/_vti_cnf
/_vti_log
/_vti_pvt
/_vti_txt
wp-config.php
error_log
/tablet/tangibles
/tablet/experiencias_exitosas
/wp-content/uploads
autoptimize_*
gifsicle
jpegtran
optipng
wp-content/wflogs/attack-data.php
config.tmp.*
wp-content/podscache